[Unit]
Description=WPA supplicant daemon
Before=network.target
After=dbus.service
Wants=network.target
IgnoreOnIsolate=true

[Service]
Type=dbus
BusName=fi.w1.wpa_supplicant1
ExecStart=/sbin/wpa_supplicant -u -s -c /etc/wpa_supplicant.conf -i wlan0
Restart=always
ExecReload=/bin/kill -HUP $MAINPID
Group=netdev
RuntimeDirectory=wpa_supplicant
RuntimeDirectoryMode=0750

[Install]
WantedBy=multi-user.target